.taskTwo {
  text-align: center;
}
._container {
  margin: auto;
  text-align: crnter;
  background-color: #eff3f6;
  min-width: 375px;
  height: 250px;
  margin: auto;
  padding: 60px 50px;
  display: block;
  width: fit-content;
}
._title {
  font-weight: 700;
  background-color: white;
  text-align: center;

  width: 100%;
  text-transform: uppercase;
  color: #4c575d;
  padding: 30px;
  font-size: 16px;
  margin: 0;
}
._statList {
  display: flex;
  padding: 0;
  margin: 0;
}
._statItem_purple,
._statItem_red,
._statItem_blue,
._statItem_green {
  width: 68px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 700;
}
._label {
  display: block;
  margin-bottom: 9px;
}
._percentage {
  display: block;
}

._statItem_purple {
  background-color: #a43cf5;
}
._statItem_red {
  background-color: #e54d66;
}
._statItem_blue {
  background-color: #50c4f7;
}
._statItem_green {
  background-color: #2e9516;
}
