._container {
  background-color: #e7ecf2;
  padding: 90px;
  margin: auto;
  width: 430px;
  min-height: 330px;
}
._title {
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}
._list {
  font-family: Roboto, sans-serif;
  width: 250px;
  min-height: 330px;
  text-align: center;
  padding-left: 0;
}

._button {
  height: 100%;
  margin-bottom: 20px;
  width: 150px;
  padding: 15px 5px;
  font-style: italic;
  filter: drop-shadow(5px 10px 4px grey);
}
._button:hover {
  filter: drop-shadow(4px 4px 4px grey);
  background-color: white;
}

._task {
  font-size: 20px;
  font-weight: 700;
  font-style: initial;
  pointer-events: none;
  word-break: break-all;
}
