.buttons__wrapper {
  background-color: #e7ecf2;
  padding: 90px;
  margin: auto;
  width: 430px;
  min-height: 330px;
}

.buttons__list {
  font-family: Roboto, sans-serif;
  width: 250px;
  min-height: 330px;
  text-align: center;
  padding-left: 0;
}

.buttons__button {
  height: 100%;
  margin-bottom: 20px;
  width: 150px;
  padding: 15px 5px;
  font-style: italic;
  filter: drop-shadow(5px 10px 4px grey);
}
.buttons__button:hover {
  filter: drop-shadow(4px 4px 4px grey);
  background-color: white;
}

.buttons__task {
  font-size: 20px;
  font-weight: 700;
  font-style: initial;
  pointer-events: none;
}
